/* Global styles */
@import "https://unpkg.com/primeflex@3.3.1/primeflex.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
